PORT=4004
NODE_ENV=development
LOG_LEVEL=info
ALLOWED_ORIGINS=*
SENDGRID_API_KEY=SG.your_sendgrid_api_key_here
KAFKA_BROKER=localhost:9093
KAFKA_CLIENT_ID=notification-service
MAIL_SEND=noreply@designkarle.com
FRONTEND_URL=http://localhost:3000
